html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: rgb(148, 56, 88);
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
}
.bookshelf-books {
  text-align: center;
}
.number {
  color: rgb(148, 56, 88);
  font-weight: 300;
}
.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background: #2e7d32; */
  background: #333;
  border: 2px solid rgb(238, 238, 238);
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #333;
  border: 2px solid #eee;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  width: 128px;
  height: 188px;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
/* book details */
.loading-icon-container {
  display: block;
}

.loading-icon-container img {
  position: absolute;
  left: 47%;
  top: 35%;
}

.book-details-container {
  display: block;
  margin: 20px auto;
}
.book-details {
  margin: 20px 60px;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 220px auto 20px;
}
.book-info {
  margin-right: 20px;
  grid-column: 1;
}

.rubric {
  color: rgb(148, 56, 88);
}

.details-header {
  font-size: 1em;
  color: rgb(148, 56, 88);
}

.description-container {
grid-column: 2/3;
grid-row: 1/3;
}

.book-description {
  color: #333;
}

.book-publisher,
.book-detail {
  font-size: 0.8em;
  color: #999;
}
.book-publisher {
  margin-top: 18px;
}
.book-detail {
  margin-top: 5px;
}

.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 15px;
}

.book-details-button {
  margin-top: 10px;
  width: 80px;
  height: 26px;
  border-radius: 5px;
  color: rgb(148, 56, 88);
  background-color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}
.book-details-button:hover,
.book-details-button:focus {
    -webkit-box-shadow: 4px 4px 12px -6px rgba(0,0,0,0.53);
    -moz-box-shadow: 4px 4px 12px -6px rgba(0,0,0,0.53);
    box-shadow: 4px 4px 12px -6px rgba(0,0,0,0.53);
}

.close-details {
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

/* SEARCH */

.html-address {
  cursor: pointer;
  font-size: 1em;
  color: #777;
}

.html-address:hover,
.html-address:focus {
  color: rgb(148, 56, 88);
}

.search-info {
  margin: 20px 40px;
  color: #999;
}

.search-info p {
  margin: 5px 0;
}
